<h1><%= t("activerecord.attributes.fellowship.creategroup") %></h1>
<%= render "shared/fellowships_header", i18n_namespace: "New Group", image: "group_icon" %>

<%= render 'form', fellowship: @fellowship %>


