<div class="help-header">
  <div class="row">
    <div class="small-12 column" data-magellan>
      <div style="max-width: 1.8%; float: left; margin-right: 1%;"><%= image_tag "#{image}.png", alt: t("#{i18n_namespace}.icon_alt"), class: "align-top"%></div>
      <h1 class="inline-block"><%= t("#{i18n_namespace}") %></h1>
    </div>
  </div>
</div>