<%= link_to root_path, accesskey: "0" do %>
    <div style="margin-left: 20.5%; height:144px; width:466px; margin-bottom: 2%">
    <%= image_tag(image_path_for("logo_header_whiteBG.jpg"), class: "small-centered", alt: setting["org_name"]) %>
    </div>
    <% end %>